@import 'tailwindcss';

body {
  overflow: auto;
  background-color: theme('colors.gray.50');
}

.dark body {
  background-color: theme('colors.gray.900');
}

@custom-variant dark (&:where(.dark, .dark *));

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: theme('colors.gray.900') !important;
  caret-color: theme('colors.gray.900') !important;
  font-size: inherit !important;
  font-family: inherit !important;
  line-height: inherit !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

.dark input:-webkit-autofill {
  -webkit-text-fill-color: theme('colors.white') !important;
  caret-color: theme('colors.white') !important;
}
